<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<!-- 给实体Bean一个别名 
		<typeAlias type="com.gizii.po.User" alias="User" />
		<typeAlias type="com.gizii.po.Admin" alias="Admin" />
		<typeAlias type="com.gizii.po.Cart" alias="Cart"/>
		<typeAlias type="com.gizii.po.Category" alias="Category"/>
		<typeAlias type="com.gizii.po.Email" alias="Email"/>
		<typeAlias type="com.gizii.po.Goods" alias="Goods"/>
		<typeAlias type="com.gizii.po.Orders" alias="Orders"/>-->
		
	
		<package name="com.gizii.po"/>
  </typeAliases>

</configuration>