<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.gizii.mapper.GoodsMapper">
  <!--  
  <insert id="add" parameterType="Goods">
  	INSERT INTO goods (
  						name,unitPrice,vipPrice,number,inventory,imageUrl,intro
  					  )
  		       VALUES (
  		       			#{name},#{unitPrice},#{vipPrice},#{Num},#{inventory},#{imageUrl},#{intro}
  		       		  )
  </insert>
  -->
   	<update id="update" parameterType="Goods">
  	 update goods 
  	 <set>
  	 	<if test="name != null and name != '' ">
  	  		name=#{name},
  	  	</if>
  	 	
  	 	<if test="unitPrice != null">
  	 		unitPrice=#{unitPrice},
  	 	</if>
  	 	
  	 	<if test="vipPrice != null ">
  	 		vipPrice=#{vipPrice},
  	 	</if>
  	 	
  	 	<if test="Num != null ">
  	 		number=#{Num},
  	 	</if>
  	 	
  	 	<if test="inventory != null ">
  	 		inventory=#{inventory},
  	 	</if>
  	 	
  	 	<if test="imageUrl != null and imageUrl != ''">
  	 		imageUrl=#{imageUrl},
  	 	</if>
  	 	
  	 	<if test="intro != null and intro != ''">
  	 		intro=#{intro} 
  	 	</if> 
  	 	
  	 </set>
  	 where Id=#{Id}
  	</update>
  	
  	<delete id="delete" parameterType="int">
		delete from goods where Id=#{Id} 		
  	</delete>
  
  	<select id="getIdByName" resultType="int" parameterType="String">
  		select Id from goods where name=#{name}
  	</select>
  	
  	<select id="searchByName" resultType="Goods" parameterType="Map">
  		select * from goods 
  	  	<if test="name != null and name !='' ">
  	 		where name like '%${name}%'
  	 	</if>
  		<if test="sort !=null and sort !='' ">
  			order by ${sort}
  		</if>
  		<if test="order !=null and order !='' ">${order}</if>
  		<if test="pageOffset !=null and pageSize !=null "></if>
  		limit #{pageOffset},#{pageSize}
  	</select>
  	
  	<select id="search_Count" resultType="int" parameterType="String">
  	
  	<if test="name != null and name !='' ">
  		select count(*) from goods where name like '%${name}%'
  	</if>
  		
  	</select>
  	
  	<select id="getById" resultType="Goods" parameterType="int">
  		select * from goods where Id=#{Id}
  	</select>
  	
  	<select id="getImage" resultType="String"  parameterType="int">
  		select imageUrl from goods where Id=#{Id}
  	</select>
</mapper>
  