* {
margin: 0;
padding: 0;
}

body {
color: #000;
font-family: arial;
background-color: #eee;
}

em, i {
font-style: normal;
}

input, img {
vertical-align: middle;
}

img {
border: 0;
}

#tbh5v0 .fullscreen, #tbh5v0 .landscape {
width: 320px!important;
margin: auto;
background-color: #eee;
}

#cookie-support-div{
display: none;
color: red;
margin-top: 10px;
margin-bottom: 10px;
font-size: 14px;
}

#tbh5v0 header {
background: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
height: 50px;
position: relative;
-webkit-box-shadow: 0 1px 1px 0 #c4c4c4;
}

#tbh5v0 header:before {
right: 100%;
}

#tbh5v0 header:after {
left: 100%;
}

#tbh5v0 header:before, #tbh5v0 header:after {
background: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
content: "";
position: absolute;
top: 0;
bottom: 0;
margin: 0;
padding: 0;
width: 0;
}

#tbh5v0 header:before, #tbh5v0 header:after {
-webkit-box-shadow: 0 1px 0 0 #c4c4c4;
}
@media (min-width: 960px){
#tbh5v0 header:before, #tbh5v0 .c-inav-sub ul:before, #tbh5v0 header:after, #tbh5v0 .c-inav-sub ul:after {
width: 320px!important;
}}
@media (max-width: 959px) and (min-width: 640px){
#tbh5v0 header:before, #tbh5v0 .c-inav-sub ul:before, #tbh5v0 header:after, #tbh5v0 .c-inav-sub ul:after {
width: 160px!important;
}}

@media (max-width: 639px) and (min-width: 480px){
#tbh5v0 header:before, #tbh5v0 .c-inav-sub ul:before, #tbh5v0 header:after, #tbh5v0 .c-inav-sub ul:after {
width: 80px!important;
}}

#tbh5v0 header .c-inav {
padding: 10px 10px;
height: 30px;
display: -webkit-box;
}

#tbh5v0 header div.c-inav section:first-child {
min-width: 76px;
}

#tbh5v0 header .c-inav section:first-child .back {
width: 72px;
height: 30px;
background: url(../images/icon/back.png) no-repeat 0 0;
background-size: contain;
border: 0;
font-size: 12px;
overflow: hidden;
display: inline-block;
}

#tbh5v0 header .c-inav section:first-child .back span {
display: none;
}

#tbh5v0 header .c-inav section:first-child .back nav, #tbh5v0 header .c-inav section:first-child .back a {
color: #666;
display: inline-block;
text-align: center;
padding-left: 10px;
width: 62px;
height: 30px;
line-height: 30px;
text-decoration: none;
}

#tbh5v0 header .c-inav section:nth-child(2) {
text-align: center;
-webkit-box-flex: 1;
}

#tbh5v0 header .c-inav section:nth-child(2) span {
display: block;
height: 32px;
line-height: 32px;
padding: 0 10px;
font-size: 18px;
font-weight: bold;
color: #333;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

#tbh5v0 header .c-inav section:last-child {
min-width: 60px;
}

#tbh5v0 header .c-inav section:first-child .back a:before {
display: block;
background: transparent;
content: "";
width: 62px;
height: 48px;
position: absolute;
top: 0;
}

#tbh5v0 .innercontent {
margin: 17px 20px 15px 20px;
}

#tbh5v0 .innercontent .login-form {
width: 280px;
}

#tbh5v0 .innercontent .login-form fieldset {
border: none;
}

#tbh5v0 .innercontent .login-form .c-form-search {
width: 100%;
}

#tbh5v0 .innercontent .login-form .pwd {
margin-top: 10px;
}

#tbh5v0 .innercontent .login-form .auth-code {
margin-top: 18px;
height: 35px;
}

#tbh5v0 .innercontent .login-form .auth-code input {
width: 179px;
float: left;
margin-right: 10px;
}

#tbh5v0 .innercontent .login-form .auth-code .check-code-img {
width: 80px;
height: 35px;
float: left;
}

#tbh5v0 .innercontent .login-form .login-option {
font-size: 14px;
}

#tbh5v0 .innercontent .login-form .login-option label {
color: #333;
}

#tbh5v0 .innercontent .login-form .login-option .reg-find-pwd {
float: right;
margin-left: 20px;
}

#tbh5v0 .innercontent .login-form .login-option .reg-find-pwd .forget-pwd {
margin-left: 15px;
}

#tbh5v0 .innercontent .login-form .submit-btn, #tbh5v0 .innercontent .login-form .login-option {
margin-top: 20px;
}

#tbh5v0 .innercontent .login-form .c-form-search, #tbh5v0 .innercontent .login-form .pwd {
position: relative;
}

#tbh5v0 .innercontent .login-form .login-option .reg-find-pwd .reg, #tbh5v0 .innercontent .login-form .login-option .reg-find-pwd .forget-pwd {
color: #004477;
text-decoration: none;
}

#tbh5v0 .innercontent .c-form .check-code-img {
cursor: pointer;
}

#tbh5v0 .innercontent .login-form .c-form-search:before, #tbh5v0 .innercontent .login-form .pwd:before {
content: '';
position: absolute;
left: 0px;
top: 0px;
width: 25px;
height: 25px;
}


#tbh5v0 .innercontent .login-form .c-form-search:after, #tbh5v0 .innercontent .login-form .pwd:after {
background: url(../images/icon/login.png) no-repeat;
background-size: 56px;
}

#tbh5v0 .innercontent .login-form .pwd:after {
background-position: 8px -47px;
}

#tbh5v0 .innercontent .login-form .c-form-search:after {
background-position: 8px 8px;
}

#tbh5v0 .innercontent .login-form .c-form-search:after, #tbh5v0 .innercontent .login-form .pwd:after {
content: '';
position: absolute;
left: 0px;
top: 2px;
width: 25px;
height: 25px;
}

#tbh5v0 .c-form-txt-normal {
height: 33px;
width: 289px;
border: solid 1px #DDD;
border-top-color: #BBB;
padding-left: 9px;
color: #333;
font-size: 16px;
-webkit-border-radius: 0;
-webkit-appearance: none;
background: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd));
}

#tbh5v0 .innercontent .login-form .username input, #tbh5v0 .innercontent .login-form .pwd input {
width: 100%;
padding-left: 26px;
-webkit-box-sizing: border-box;
text-indent: 0;
}

#tbh5v0 .c-form-txt-normal:focus {
outline: 0;
background: #fff;
-webkit-tap-highlight-color: rgba(255,255,255,0);
}

#tbh5v0 .c-form-search {
display: inline-block;
position: relative;
}

#tbh5v0 .c-form-search input[type="text"], #tbh5v0 .c-form-search input[type="email"], #tbh5v0 .c-form-search input[type="search"], #tbh5v0 .c-form-search input[type="number"], #tbh5v0 .c-form-search input[type="tel"], #tbh5v0 .c-form-search input[type="url"] {
height: 33px;
width: 289px;
border: solid 1px #DDD;
border-top-color: #BBB;
padding-left: 9px;
color: #333;
font-size: 16px;
-webkit-border-radius: 0;
-webkit-appearance: none;
background: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd));
}

#tbh5v0 .c-form-search button {
width: 33px;
height: 33px;
position: absolute;
border: 0;
right: 0;
top: 0;
background-color: transparent;
text-align: center;
display: none;
}

#tbh5v0 .c-btn-oran-big {
display: inline-block;
min-width: 60px;
height: 40px;
padding: 0 15px;
border: 0;
background: #f40;
text-align: center;
text-decoration: none;
line-height: 40px;
color: #fff;
font-size: 14px;
font-weight: 700;
-webkit-border-radius: 2px;
background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#f50),color-stop(1,#f40));
text-shadow: 0 -1px 1px #ca3511;
-webkit-box-shadow: 0 -1px 0 #bf3210 inset;
min-width: 100%;
height: 44px;
line-height: 44px;
padding: 0;
font-size: 24px;
text-shadow: 0 -1px 0 #441307;
}

.none {
display: none;
}

#tbh5v0 .footer {
height: 98px;
background: url(../images/icon/shadow.png) 0 30px repeat-x;
position: relative;
font-size: 14px;
text-align: center;
margin-top: 20px;
}

#tbh5v0 .footer a {
color: #047;
text-decoration: none;
}

#tbh5v0 .footer:before, #tbh5v0 .footer:after {
background: url(../images/icon/shadow.png) 0 30px repeat-x;
content: "";
position: absolute;
top: 0;
bottom: 0;
margin: 0;
padding: 0;
width: 0;
}

#tbh5v0 .footer:before {
right: 100%;
}




#tbh5v0 .footer .footer-t {
display: -webkit-box;
padding: 0 8px 0 10px;
height: 30px;
line-height: 30px;
background: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#ededed));
position: relative;
}

#tbh5v0 .footer:after {
left: 100%;
}

@media (min-width: 900px){
#tbh5v0 .footer:before, #tbh5v0 .footer-t:before, #tbh5v0 .footer:after, #tbh5v0 .footer-t:after {
width: 320px!important;
}}

@media (max-width: 959px) and (min-width: 640px){
#tbh5v0 .footer:before, #tbh5v0 .footer-t:before, #tbh5v0 .footer:after, #tbh5v0 .footer-t:after {
width: 160px!important;
}}

@media (max-width: 639px) and (min-width: 480px){
#tbh5v0 .footer:before, #tbh5v0 .footer-t:before, #tbh5v0 .footer:after, #tbh5v0 .footer-t:after {
width: 80px!important;
}}


#tbh5v0 .footer .footer-t:before {
right: 100%;
}

#tbh5v0 .footer .footer-t:before, #tbh5v0 .footer .footer-t:after {
background: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#ededed));
content: "";
position: absolute;
top: 0;
bottom: 0;
margin: 0;
padding: 0;
width: 0;
}

#tbh5v0 .footer .footer-t:after {
left: 100%;
}

#tbh5v0 .footer .footer-t .user-info {
-webkit-box-flex: 1;
display: -webkit-box;
text-align: left;
}

#tbh5v0 .footer .footer-l {
padding: 40px 0 9px;
}

#tbh5v0 .footer .footer-l a {
margin-left: 17px;
}

#tbh5v0 .footer .footer-l a:first-child {
margin-left: 0;
}

#tbh5v0 .footer .copyright {
color: #666;
font-size: 12px;
}

#tbh5v0 .footer .copyright a {
color: #666;
}

#tbh5v0 .footer .copyright .cr-sv {
margin-left: 10px;
}



