body {
min-width: 320px;
font-size: 1em;
font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
color: hsl(0, 0%, 0%);
-webkit-text-size-adjust: none;
background: hsl(0, 100%, 100%);
}

body, input, textarea, select, button, table {
font-size: 16px;
line-height: 1.25em;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
margin: 0;
padding: 0;
}

.new-header {
position: relative;
z-index: 8888;
height: 44px;
background: rgb(249, 121, 51);
}

.new-a-back {
position: absolute;
top: 14px;
left: 10px;
height: 2.5em;
width: 2.5em;
}

.delete{
	margin-left: 1.5em;
}
.new-a-back span{
width: 10px;
height: 20px;
background: url(../images/icon/back1.png) 0 0 no-repeat;
display: block;
}

.new-header h2 {
height: 44px;
line-height: 44px;
font-weight: 400;
font-size: 16px;
color: hsl(0, 100%, 100%);
text-align: center;
}

.blank {
background: hsl(47, 48%, 89%);
border-bottom: 1px solid hsl(46, 40%, 76%);
height: 10px;
}

.cart .mt {
padding-left: 6px;
}

.list .mt {
background: hsl(37, 33%, 89%);
color: hsl(0, 71%, 51%);
border-bottom: 1px solid hsl(46, 40%, 76%);
height: 42px;
line-height: 42px;
}

.list .mt h2 {
font-weight: 400;
font-size: 1em;
margin: 0 0 0 6px;
}

.cart .mc {
color: rgb(60, 60, 60);
}

.icon-cart {
text-align: center;
}

.icon-cart span {
display: inline-block;
margin: 50px 0 15px;
width: 95px;
height: 70px;
background: url(../images/cart/cart3.png) 0 0 no-repeat;
}

.icon-cart p {
color: rgb(75, 75, 75);
}

.list .mc a {
color: rgb(249, 121, 51);
}

.login-area {
padding-bottom: 1.8em;
text-align: center;
width: 100%;
max-width: 640px;
background-color: rgb(255, 255, 255);
margin: 0 auto;
}

.login-area .login {
padding: .55em .71em;
border-bottom: 1px solid rgb(229, 229, 229);
text-align: right;
}

.login {
text-decoration: underline;
color: rgb(103, 115, 138);
}

.login-area a {
font-size: .85em;
color: rgb(102, 102, 102);
}

a {
text-decoration: none;
outline: none;
}

.copyright {
font-size: 12px;
color: rgb(102, 102, 102);
}

.details {
border: 1px solid rgb(222, 222, 222);
background-color: rgb(249, 249, 249);
margin-top: 20px;
padding: 20px;
position: relative;
font-size: 14px;
}

.num{
text-align: center;
}

.norm{
	margin-right: 0.8em;
}

.unitPrice{
	margin-right: 0.8em;
}
.addBtn {
font-size: 20px;
line-height: 2px;
width: 20px;
height: 20px;
color: rgb(255, 106, 0);
}

.subBtn {
font-size: 24px;
line-height: 2px;
width: 20px;
height: 20px;
color: rgb(255, 106, 0);
}

.right {
float: right;
}

.pay-area {
padding: 20px 30px;
padding-bottom: 22px;
border-top: 1px dashed rgb(232, 232, 232);
}

.pay-area .tips {
font-weight: bold;
}

.pay-area .price {
font-size: 24px;
font-weight: bold;
position: relative;
}

.cc-oriange {
color: rgb(255, 105, 0);
}

#totalPrice {
font-size: 16px;
}

.s-btn span.s-btn{
	display: block;
}

.s-btn .s-btn{
	background-position: 100% 0;
	padding-right: 20px;
	padding-left: 10px;
}

.s-btn{
	background-image: url(http://xs01.meituan.net/waimai_web/img/btn/s-btn_2.png);
	background-position: 0 0;
	display: inline-block;
	padding-left: 10px;
	height: 34px;
	line-height: 34px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.fr {
float: right;
}

